img{
    width: 100%;
    }

 
    .navbar-nav{
        position: relative;
        
    }
    .navbar{
        height: 14%;
        background-color: black;
        padding-left: 40px;
        top: 0px;
    }
    .navbar-nav img{
        width: 10%;
        height: 100%;
        position: absolute;
        left: 2%;
    }
    li{
        left: 50px;
    }
   li a{
    float: left;
    padding-left: 120px;
    color: white;
    font-weight: 10%;
   }
   .nav-item{
    font-weight: bold;
    
   }



li a :hover{
    background-color: blanchedalmond;
}
.pc{
    padding:  30px 50px;
    
    
}
.main img{
    position: relative;
    width: 100%;
    padding-top: 6%;
    
    

}
.main a{
    background-color: rgb(17, 17, 20);
    color: rgb(245, 234, 234);
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    border-radius: 10px;
}
.main .sub{
    position: absolute;
    top: 200px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    font-style: inherit;
}
.main .sub{
    width: 500px;
    left: 65%;
    color: aliceblue;
    
}
.rn img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1316px;
    
}
.rn img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 10%;
    
    
}
.rn .d{
    position: absolute;
    left: 20px;
    top: 1550px;
    
    
    
}
.pc input{
    font-size: 15px;
    padding: 10px;
    margin-left: 210px;
}
.rn1 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn1 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 26%;
    
}
.rn2 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn2 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 42%;
    
}
.rn3 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn3 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 58%;
    
}
.rn4 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn4 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 74%;
    
}
.rn5 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn5 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 17%;
    
}
.rn6 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;}
.rn6 img {

        width: 270px;
        height: 270px;
        border-radius: 1000px;
        position: absolute;
        left: 34%;
        
    }
    
 
.rn7 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn7 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 51%;
    
}
.rn8 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn8 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 68%;
    
} 
.main1 {
    text-align: center;
    position: relative;
    padding-top: 10%;
    
    color: gray;
}

.main1 a{
    background-color: rgb(17, 17, 20);
    color: rgb(245, 234, 234);
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    border-radius: 1px solid grey;
    border-radius: 10px;
    position: absolute;
}

  /* .footer{
    
   list-style-type: none;
   margin: 0;
   padding: 10px; 
   overflow: hidden;
   background-color: rgb(7, 7, 7);
   bottom: 0;
  }
  footer.s2{
    float: left;
  } */
/* .footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 50%;
    text-align: center;
    border-radius: 1px solid black;
    top:350vmin;
    width: 100%;
    position: absolute;
}
.footer img{
    width: 400px;
    height: 200px;
    float:left;
    padding: 30px;
    
}
.footer ul{
    float: left;
    padding: 30px;
    margin: 30px;
   
} */
.carousel-item img{
    width: 13.5%;
    
}

.gallery {
    margin: 5px;
   
    float: left;
    width: 20%;
    position: relative;
    left: 10%;
    height: auto;
    
  }
  

  
.gallery img {
    width: 100%;
    height: auto;

  }
  
.desc {
    padding: 15px;
    text-align: center;
  }


  .gallery2 {
    margin: 5px;
   
    float: left;
    width: 20%;
    position: relative;
    left: 10%;
    height: auto;
    top: 10vmin;
    
  }
  

  
.gallery2 img {
    width: 100%;
    height: auto;

  }
  
.desc2 {
    padding: 15px;
    text-align: center;
  }
  .gallery {
    text-align: center;
  }
  .gallery2 {
    text-align: center;
  }

/* .desc a{
    color: black;
    border-radius: 2px solid grey;
    padding: 4px;
    text-decoration: none;
} */
/* .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 30, 30);
    color: white;
    text-align: center;
 } */
 
.footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: black;
    top:130vmin;
}
.footer img{
    position: absolute;
    width: 16%;
    height: 34%;
    left: 5%;
}
.footer h2{
    color: aliceblue;
}
.footer b{
    color: aliceblue;
}
.sub1 li{
    position: absolute;
    padding-left: 330px;
    padding-top: 25px;
}
.sub2 li{
    position: absolute;
    left: 630px;
}
.sub3 li{
    position: absolute;
    left: 830px;
}
/* .footer ul{
    left: 20vmin;
    padding: 20px;
    right: 40%;
} */
.footer .sub1{
 
    left: 50vmin;
}


@media (max-width: 600px) {
   .footer{
    top: 80%;
   }
}
