img{
    width: 100%;
    }
 
 ul{
   list-style-type: none;
   margin: 0;
   padding: 10px; 
   overflow: hidden;
   background-color: rgb(7, 7, 7);
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   
 }

 li{
    float: left;
}
li a{
    display: block;
    color: rgb(12, 14, 15);
    text-align: center;
    padding: 35px 50px;
    text-decoration: none;
    color: aliceblue;
    
    
}



li a :hover{
    background-color: blanchedalmond;
}
.pc{
    padding:  30px 50px;
    
    
}
.main a{
    background-color: rgb(17, 17, 20);
    color: rgb(245, 234, 234);
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 10px;
    border-radius: 1px solid grey;
    border-radius: 10px;
}
.main .sub{
    position: absolute;
    top: 200px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    font-style: inherit;
}
.main .sub{
    width: 500px;
    margin-left: 1200px;
    color: aliceblue;
    
}
.rn img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1316px;
    
}
.rn img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 10%;
    
    
}
.rn .d{
    position: absolute;
    left: 20px;
    top: 1550px;
    
    
    
}
.pc input{
    font-size: 15px;
    padding: 10px;
    margin-left: 210px;
}
.rn1 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn1 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 26%;
    
}
.rn2 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn2 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 42%;
    
}
.rn3 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn3 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 58%;
    
}
.rn4 img{
    margin: 1;
    width: 100px;
    float: left;
    
}
.rn4 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 74%;
    
}
.rn5 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn5 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 17%;
    
}
.rn6 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;}
.rn6 img {

        width: 270px;
        height: 270px;
        border-radius: 1000px;
        position: absolute;
        left: 34%;
        
    }
    
 
.rn7 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn7 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 51%;
    
}
.rn8 img{
    margin: 1;
    width: 100px;
    float: left;
    top: 1600px;
    
}
.rn8 img {
    width: 270px;
    height: 270px;
    border-radius: 1000px;
    position: absolute;
    left: 68%;
    
} 
.main1 {
    text-align: center;
    position: absolute;
    top: 2000px;
    left: 35%;
    color: gray;
}
.main1 a{
    background-color: rgb(17, 17, 20);
    color: rgb(245, 234, 234);
    text-align: center;
    text-decoration: none;
    display:inline-block;
    padding: 20px;
    border-radius: 1px solid grey;
    border-radius: 10px;
}
div.gallery {
    padding:45px;
    float: left;
    width: 180px;
    height: 20%;
    width: 20%;
    position: relative;
    top: 1000px;
  }
  
  
  div.gallery img {
    width: 100%;
    height: auto;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }





